{% extends 'blogapp/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<p>We Get What We Deserve</p>


  {% for post in blogposts %} 
     {{post.id}}
    {% include "blogapp/post.html" with blogpost=post %}

  {% if user.is_authenticated %}
    <h1>submit a comment</h1>
    <form action="{% url 'blogapp:add_comment' blog_pk=post.pk %}" method="post">
        {% csrf_token %}
      <input type="text" name="comment_text"/>
      <button type="submit">Submit Comment</button>
    </form>

    {% for comment in post.comments.all %}
      {% include "blogapp/comment.html" with comment=comment %}
    {% endfor %}
  {% endif %}
{% endfor %}

{% endblock %}

